<div class="">
    <div class="bg-gray-600">
        <h1 class="font-bold text-3xl ml-10 p-2 text-gray-50">TekGain</h1>
    </div>
    <div class="mr-40 mt-2">
        <div class="float-right btn bg-gray-50 p-2 mb-2 ml-4 text-center font-semibold rounded-md">Course</div>
        <div class="float-right btn bg-gray-50 p-2 mb-2 ml-4 text-center font-semibold rounded-md">Admission</div>
        <div class="float-right btn bg-gray-50 p-2 mb-2 ml-4 text-center font-semibold rounded-md">Associate</div>
    </div>
</div>